<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="resources/css/cart.css" class="style">
</head>
<body>
    <div class="nav-bar" style="background-image: url(resources/images/bg_buy.jpg); ">
        <%- include("nav-footer/nav") %>
    </div>

    <div class="title">Compra</div>

    <div class="container">
        <div class="data">
            <div class="table-row">
                <table class="items-table">
                    <thead>
                        <tr>
                            <th>Nombre</th>
                            <th>Cantidad</th>
                            <th>Precio</th>
                            <th>Acciones</th>
                        </tr>
                    </thead>
                    <tbody id="testBody"></tbody>
                    <% results.forEach((product)=> { %>
                        <tr>
                            <td id="<%= product.productId %>"><%= product.productName %></td>
                            <td><input type="number" placeholder="1"></td>
                            <td id="price"><%= product.price%></td>
                            <td>
                                <button class='btn-less'>-</button>
                                <button class='btn-more'>+</button>
                                <button class='btn-dark'>X</button>
                            </td>
                        </tr>
                    <% }) %>
                </table>
            </div>
        </div>
        <div class="information">
            <div class="total" id="final-check">
                <h5>Total:</h5>
                <div class="total_price">
                    <h2 id="total_buy"></h2>
                    &nbsp
                    <h2>CLP$</h2>
                </div>
                <div class="price_text">precio aparente</div>
                <div class="price_text">0 % de descuento</div>
                <a href="/" class="delete-btn">Cancelar</a>
                <button id="buy_btn">Comprar</button>
            </div>
        </div>
    </div>


    <div>
        <%- include('nav-footer/footer') %>
    </div>

    <script src="resources/js/shop.js"></script>
    <!-- Boostrap v5.1 -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js " integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p " crossorigin="anonymous "></script>
</body>
</html>